.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  padding: 40px 42px;
  background-color: #f8fffc;
  border: 1px solid #53cba0;
  border-radius: var(--border-radius-md);
}

.checkmark {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #53cba0;
}

.topSection,
.bottomSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-family: var(--font-family-body);
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  line-height: 20px;
  color: var(--color-primary-night-violet);
}

.value {
  font-family: var(--font-family-body);
  font-size: 28px;
  font-weight: var(--font-weight-medium);
  line-height: 30px;
  color: var(--color-primary-night-violet);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-grey-4);
}

@media (max-width: 767px) {
  .container {
    padding: var(--spacing-xl) var(--spacing-lg);
  }

  .topSection,
  .bottomSection {
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
  }
}
