.tabs {
  display: flex;
  gap: var(--spacing-2xl);
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.tabText {
  font-family: var(--font-family-body);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-md);
  color: var(--color-grey-3);
  transition: color 0.2s ease;
}

.tab.active .tabText {
  font-weight: var(--font-weight-medium);
  color: var(--color-primary-night-violet);
}

.activeIndicator {
  width: 100%;
  height: 3px;
  background-color: var(--color-primary-night-violet);
  border-radius: 10px;
}
