.pageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-sm);
}

.title {
  margin: 0;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xl);
  color: var(--color-primary-night-violet);
}

.italic {
  font-style: italic;
}

.regular {
  font-style: normal;
}

.subtitle {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-md);
  color: var(--color-primary-night-violet);
}

@media (max-width: 767px) {
  .title {
    font-size: 36px;
    line-height: 44px;
  }

  .subtitle {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }
}
