@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "./design-tokens/variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
  color: var(--color-primary-night-violet);
  background-color: var(--color-background-pampas);
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: var(--color-primary-night-violet);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-regular);
}

p {
  margin: 0;
}
